---
interface Props {
  name: string;
  viewBox?: string;
  svgPath: string;
  fillRule?: "nonzero" | "evenodd" | "inherit";
  clipRule?: string;
}

const { name, viewBox = "0 0 800 800", svgPath, fillRule, clipRule } = Astro.props;
---

<div
  class="relative bg-white border border-[#e2e8f0] p-8 flex items-center justify-center aspect-square transition-[border-color,background-color] duration-300"
  aria-label={name}
>
  <svg
    class="w-20 h-20 text-mid transition-all duration-300"
    viewBox={viewBox}
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d={svgPath} fill-rule={fillRule} clip-rule={clipRule}></path>
  </svg>
</div>
